
body{
background-color: antiquewhite;
}


.header {
  display: flex;
  background-color: rgb(159, 28, 159);
  width: 1093px;
  height: 100px;
  border: 3px solid rgb(147, 135, 135); 
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  margin-bottom: 60px;
}
.troll {
  position: absolute;
  margin-top: 40px;
  width: 30px;
  margin-left: 20px;
  
}
.meme{
  font-size: 20px;
margin-top: 40px;
  margin-left: 70px;
  color: rgb(43, 189, 226);
  
}
.react{
  font-size: 15px;
  position: relative;
 margin-top: 45px;
  margin-left: 630px;
  color: rgb(120, 229, 239);
}
.Shutup{
  position: relative;
  margin-left: -255px;
  height: 30px;
  width: 300px;
background-color: aliceblue;
border-radius: 10%;
margin-right: 5%;
margin-bottom: 20px;

}
.take-my{
  height: 28px;
  width: 300px;
  background-color: aliceblue;
border-radius: 10%;
margin-right: 5%;
margin-bottom: 20px;

}
.inputs{
  margin-left: 400px;
}
.img-buttton{
  margin-left: -43%;
  position: relative;
  border-radius: 5%;
  padding: 0;
  border: none;
  outline: none;
  background-color: purple;
  width: 650px;
  height: 30px;
 
}
.meme-button{

  width: 150px;

}
.money{
  margin-top: 20px;
  margin-left: 200px;
}
.money-img{
  width: 600px;
  margin-left: -30px;
}
.meme--image{
  max-width: 100%;
}

/* this was the videos css */
/* k */
/* 
* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
} */
